TinyLibraryWeb_M3/Connected Services/LoanRef/LoanService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10349/Services/LoanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TinyLibraryWeb_M3.Services" />
  <xs:element name="FeeCalcLibrary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="daysLate" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FeeCalcLibraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FeeCalcLibraryResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Checkout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TinyLibraryWeb_M3.Services" minOccurs="0" name="items" nillable="true" type="q1:ArrayOfLoanItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckoutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>