TinyLibraryWeb_M3/Connected Services/LoanRef/LoanService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LoanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10349/Services/LoanService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10349/Services/LoanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10349/Services/LoanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TinyLibraryWeb_M3.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoanService_FeeCalcLibrary_InputMessage">
    <wsdl:part name="parameters" element="tns:FeeCalcLibrary" />
  </wsdl:message>
  <wsdl:message name="ILoanService_FeeCalcLibrary_OutputMessage">
    <wsdl:part name="parameters" element="tns:FeeCalcLibraryResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanService_Checkout_InputMessage">
    <wsdl:part name="parameters" element="tns:Checkout" />
  </wsdl:message>
  <wsdl:message name="ILoanService_Checkout_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckoutResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoanService">
    <wsdl:operation name="FeeCalcLibrary">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanService/FeeCalcLibrary" message="tns:ILoanService_FeeCalcLibrary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanService/FeeCalcLibraryResponse" message="tns:ILoanService_FeeCalcLibrary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Checkout">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanService/Checkout" message="tns:ILoanService_Checkout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanService/CheckoutResponse" message="tns:ILoanService_Checkout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoanService" type="tns:ILoanService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FeeCalcLibrary">
      <soap:operation soapAction="http://tempuri.org/ILoanService/FeeCalcLibrary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Checkout">
      <soap:operation soapAction="http://tempuri.org/ILoanService/Checkout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanService">
    <wsdl:port name="BasicHttpBinding_ILoanService" binding="tns:BasicHttpBinding_ILoanService">
      <soap:address location="http://localhost:10349/Services/LoanService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>