TinyLibraryWeb_M3/Connected Services/SearchRef/SearchService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10349/Services/SearchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TinyLibraryWeb_M3.Models" />
  <xs:element name="ItemSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TinyLibraryWeb_M3.Models" minOccurs="0" name="ItemSearchResult" nillable="true" type="q1:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>